body {
    margin: 0;
    background-color: #121212;

  }
  
  main {
    height: 100%;
    
  }

article {
  padding: 1rem;
}

article h1, h2, p{
  color: #f2f2f2;
}


.form p {
  color: #f2f2f2;
}

.form div {
  padding: 20px;
  background-color: #303030;
  border-radius: 25px;
  color: #f2f2f2;

}

.ftr {
  text-align: center;
  top: 0%;
}

header h1 {
  text-align: center;
  font-size: 4rem;
}

header h2 {
    text-align: center;
    font-size: 2rem;
}

section.form {
  margin: auto;
  max-width: 60%;
  height: auto;
  background-color: #121212;
}

label {
  display: inline-block;
  width: 5em;
}



/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #202020;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

.active {
  background-color: #3F0071;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:rgb(62, 50, 97);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.row {
  column-count: 3;
}

#dialog {
  top: 10%;
  
}

#dialog p {
  color: #000000;
}


@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
  
.row {
  column-count: 1;
}
}