body {
    margin: 0;
    background-color: #121212;

  }
  
  main {
    height: 100%;
    
  }

article {
  padding: 1rem;
}

article h1, p{
  color: #f2f2f2;
}


/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #202020;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

.active {
  background-color: #3F0071;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:rgb(62, 50, 97);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


.ftr {
  text-align: center;
  top: 0%;
}

section.intro {
  padding: 1rem;
  color: #f2f2f2;
  max-width:60%;
  margin: auto;
}

header h1 {
  text-align: center;
  font-size: 4rem;
}

section.intro h1{
  font-size: 3rem;
  color: #f2f2f2;
}

section.intro p {
  font-size: 1.3rem;
}

div.spacer {
    height: 12vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
}

table {
    border: 1px solid white;
    padding: 10px;
} 

td {
    border: 1px solid white;
    padding: 10px;
}

td.left {
    text-align: center;
}

@media screen and (max-width: 600px) {
  section.intro {
    padding: .3rem;
    color: #f2f2f2;
    max-width:80%;
    margin: auto;
  }
  
  header h1 {
    text-align: center;
    font-size: 2rem;
  }
  
  section.intro h1{
    font-size: 1.3rem;
    color: #f2f2f2;
  }

  section.intro h2{
    font-size: 1.3rem;
    color: #f2f2f2;
  }
  
  section.intro p {
    font-size: .9rem;
  }

  li {
    font-size: .9rem;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center
  }

  table {
      border: 1px solid white;
      padding: 10px;
  } 

  td {
      border: 1px solid white;
      padding: 10px;
  }

  td.left {
      text-align: center;
  }
}